.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.credentialsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}

@media (max-width: 900px) {
  .credentialsRow {
    grid-template-columns: 1fr;
  }
}
